<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:method="POST" th:action="@{/bikes/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${bikes}">
    <div th:if="${bikes.isEmpty()}">
        <span>Велосипед не найден</span>
    </div>

    <div th:each="bike : ${bikes}">
        <p th:text="${bike.getNameBike() + ', ' + bike.getYearOfCreation()}">bike</p>

        <div th:if="${bike.getRenter() != null}">
            <span>Велосипед сейчас у: </span> <span th:text="${bike.getRenter().getFullName()}">Person Name</span>
        </div>

        <div th:if="${bike.getOwner() == null}">
            <span>Велосипед свободен</span>
        </div>

        <hr/>
    </div>
</div>

</body>
</html>